<!DOCTYPE html>
<html>
<head>
<style>
.login-page {
  width: 250px;
  padding: 15% 0 0;
  margin: auto;
}
  <title>Login</title>
  
  </style>

</head>
  <body bgcolor="#FFFACD">
   
  <br><form name="MY Form" action="/adlogin" method="post" class="login-page">
     <span style="color:#000000;font-family:'Arial Black';font-size:17px;"><strong>Welcome VEHAFOWA admin</strong></span></div>
<br>
  username<input type="text" id="username" name="username">
  <br>password<input type="password" id="pasword" name="password">
  <br>
  {{error}}
  <br>
  <input type="submit"name="button1" value="login">
  <input type="button"  onclick="window.location.href='./';return false;" name="" value="Go Back" >
  </form>
  </body>
</html>
