<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>signup</title>
<meta name="author" content="V.G.JEYASURYA">
<meta name="generator" content="V.G.JEYASURYA">

<style>
div#container
{
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
</style>
<link href="login.css" rel="stylesheet">
<style>
#PageHeader1
{
   background-color: #FFFACD;
   background-image: none;
   box-sizing: border-box;
}
#Button2
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #FFFACD;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button3
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #FFFACD;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button3
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #FFFACD;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PageFooter1
{
   background-color: #00008B;
   background-image: none;
   box-sizing: border-box;
}
</style>
</head>
<body bgcolor="#FFFACD">
<div id="container">

<input type="submit" id="Button2" onclick="window.location.href='./fpwd';return false;" name="" value="Password generator" style="position:absolute;left:389px;top:250px;width:217px;height:25px;z-index:0;">
<input type="submit" id="Button3" onclick="window.location.href='./view_complaint_admin';return false;" name="" value="View Complaints" style="position:absolute;left:389px;top:303px;width:217px;height:25px;z-index:1;">
<input type="submit" id="Button3" onclick="window.location.href='./logstatus';return false;" name="" value="User Credentials" style="position:absolute;left:389px;top:353px;width:217px;height:25px;z-index:1;">
<input type="submit" id="Button4" onclick="window.location.href='./adlogin';return false;" name="" value="Logout" style="position:absolute;left:1000px;top:75px;width:96px;height:25px;z-index:0;">
<div id="wb_Text1" style="position:absolute;left:73px;top:136px;width:174px;height:24px;z-index:2;">
<span style="color:#000000;font-family:'Arial Black';font-size:17px;"><strong>Welcome Admin</strong></span></div>
</div>
<header id="PageHeader1" style="position:absolute;text-align:left;left:0px;top:0px;width:100%;height:68px;z-index:7777;">
</header>
<footer id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:688px;width:100%;height:80px;z-index:3;">
</footer>
</body>
</html>