<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>forgot_password</title>
<meta name="author" content="V.G.JEYASURYA">
<meta name="generator" content="V.G.JEYASURYA">
<style>
div#container
{
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
</style>
<link href="login.css" rel="stylesheet">
<style>
#PageHeader1
{
   background-color:#FFFACD ;
   background-image: none;
   box-sizing: border-box;
}
#wb_Form1
{
   background-color: #FFFF00;
   background-image: none;
   border: 0px solid #87CEFA;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color : 	#006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextArea1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextArea2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button2
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #0000CD;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button3
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color: #0000FF;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#TextArea3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextArea4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#PageFooter1
{
   background-color: #00008B;
   background-image: none;
   box-sizing: border-box;
}
</style>
</head>
<body bgcolor="#FFFACD">
<div id="container">
<div id="wb_Form1" style="position:absolute;left:247px;top:326px;width:501px;height:209px;z-index:9;">
<form name="Login" method="post" action="/fpass" enctype="multipart/form-data" id="Form1">
<label for="TextArea1" id="Label1" style="position:absolute;left:36px;top:15px;width:130px;height:17px;line-height:17px;z-index:0;">House ID:</label>
<textarea name="flat_id" id="flat_id" style="position:absolute;left:216px;top:15px;width:253px;height:14px;z-index:1;" rows="1" cols="39" spellcheck="false"></textarea>
<label for="TextArea2" id="Label2" style="position:absolute;left:36px;top:49px;width:122px;height:17px;line-height:17px;z-index:2;">Password:</label>
<textarea name="upwd" id="upwd" style="position:absolute;left:216px;top:49px;width:253px;height:14px;z-index:3;" rows="1" cols="39" spellcheck="false"></textarea>
<input type="submit" id="button1" name="button1" value="Submit" style="position:absolute;left:202px;top:170px;width:96px;height:25px;z-index:4;">

<textarea name="email_id" id="email_id" style="position:absolute;left:216px;top:120px;width:253px;height:14px;z-index:7;" rows="1" cols="39" spellcheck="false"></textarea>
<label for="TextArea2" id="Label4" style="position:absolute;left:36px;top:120px;width:122px;height:17px;line-height:17px;z-index:8;">Email:</label>
</form>
</div>
<input type="submit" id="Button2" onclick="window.location.href='./login';return false;" name="" value="Login" style="position:absolute;left:247px;top:560px;width:96px;height:25px;z-index:10;">
<div id="wb_Text1" style="position:absolute;left:247px;top:292px;width:174px;height:24px;z-index:12;">
<span style="color:#000000;font-family:'Arial Black';font-size:17px;"><strong>Forgot Password</strong></span></div>
</div>
<header id="PageHeader1" style="position:absolute;text-align:left;left:0px;top:0px;width:100%;height:68px;z-index:7777;">
</header>
<footer id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:688px;width:100%;height:80px;z-index:13;">
</footer>
</body>
</html>
