<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>FPWD</title>
<meta name="author" content="riyas">
<meta name="generator" content="riyas">
<style>
div#container
{
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
</style>
<link href="login.css" rel="stylesheet">
<style>
#PageHeader1
{
   background-color: #FFFACD;
   background-image: none;
   box-sizing: border-box;
}
#wb_Form1
{
   background-color:  	#FFFF00;
   background-image: none;
   border: 0px solid #87CEFA;
}
#Label1
{
   border: 0px solid #006400;
   border-radius: 4px;
   background-color: transparen;
   background-image: none;
   color :#006400;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextArea1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #006400;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextArea2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button2
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #0000CD;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#Button3
{
   border: 1px solid #4169E1;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #0000FF;
   font-family: FontAwesome;
   font-weight: bold;
   font-size: 17px;
   margin: 0;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PageFooter1
{
   background-color: #00008B;
   background-image: none;
   box-sizing: border-box;
}
</style>
</head>
<body bgcolor="#FFFACD">
<div id="container">
<div id="wb_Form1" style="position:absolute;left:344px;top:309px;width:356px;height:150px;z-index:5;">

  <form name="MY Form" action="/fpwd" method="post">
<label for="TextArea1" id="Label1" style="position:absolute;left:10px;top:15px;width:68px;height:17px;line-height:17px;z-index:0;">House ID:</label>
<textarea name="flat_id" id="flat_id" style="position:absolute;left:130px;top:15px;width:190px;height:14px;z-index:1;" rows="1" cols="29" ></textarea>
<input type="submit" id="button1" name="button1" value="Submit" style="position:absolute;left:130px;top:104px;width:96px;height:25px;z-index:4;">
</form>
</div>
<div id="wb_Text1" style="position:absolute;left:344px;top:277px;width:174px;height:24px;z-index:8;">
<span style="color:#006400;font-family:'Arial Black';font-size:17px;"><strong>First Passsword</strong></span></div>
</div>
<header id="PageHeader1" style="position:absolute;text-align:left;left:0px;top:0px;width:100%;height:68px;z-index:7777;">
</header>
<footer id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:688px;width:100%;height:80px;z-index:9;">
</footer>
</body>
</html>
