<!DOCTYPE html> 
<head> 
</head> 
  
<body> 
    <h1 style="color: black"  align="middle"> 
        Know your residence
    </h1> 
    <style>
	body{
		background-color:#ffffff;
	}

   </style>
            
     
<p style="color:black"  align="middle">
        Select the department in which you have to view the complaints: 
 <form action="/month">

        <select id="select1" style="position:absolute;left:619px;top:128px;width:122px;height:31px;z-index:5;"> 
            <option value="" >Electrical</option> 
            <option value="February"name="month">Plumbing</option> 
            <option value="March"name="month">Tiles</option> 
 <option value="April" name="month">Lift</option>
<option value="May"name="month">Floor</option>
<option value="June"name="month">Cleaning</option
<option value="July"name="month">Intercom</option>



        </select> 
    </p>  
<input type="submit" style="position:absolute;left:594px;top:187px;width:169px;height:52px;z-index:5;" name="button1" value="submit" onclick="window.location.href='./issues';return false;">


  
 </form> 
    <script type="text/javascript">
function getOption() { 
            selectElement = document.querySelector('#select1'); 
                      
            output =  
              selectElement.options[selectElement.selectedIndex].value; 
  
            document.querySelector('.output').textContent = output; 
       }
	

		</script> 

</body> 
  
</html>                     
