<!DOCTYPE html>
<html>
<style>
.login-page {
  width: 250px;
  padding: 15% 0 0;
  margin: auto;
}
</style>

  <title>Login</title>
<body bgcolor="#FFFACD">
<center>

  <form name="MY Form" action="/login" method="post" class="login-page">
  House_no<input type="text" id="flat_id" name="flat_id">
  <br>password<input type="password" id="password" name="password">
  <br>
  <input type="submit"name="button1" value="login" align="middle">
  <input type="submit"name="button1" value="signup" onclick="window.location.href='./signin';return false;">

  </form>
</center>


  </body>
</html>
