<!DOCTYPE html>
<html>




<body  bgcolor="#FFFACD">
	<center><b><h2 color="green"><font color="#006400">MAINTENANCE</h2></b></center>
		<dl>
		<h3><b><dt><br>
		<center> Automates filing issues/complaints(example-Fan not working in flat)</dt>
<dt>
	         <center>Submitted issues are directed to respective incharges for follow up<center></dt>
		<dt> <center>Returns Action report<center></dt></b></h3>
		</dl>
		<br>

<br>
<br>
<br>
<br>

		<form action="/choise" method=post>
		<center>
		<input class="button" type=submit value="Raise a complaint" onclick="window.location.href='./complaint';return false;">
		</center>
		</form><br>
		<br>
		<br>

		<form action = "/complaint" method=post>
	         <center>
		<input class="button" type=submit value="Complaint Status"onclick="window.location.href='./ui';return false;">
	         </center>
		</form>
		<br>
	        <form action = "/complaint" method=post>

	        </form>

    <input type="button"  onclick="window.location.href='./index';return false;" name="" value="logout" >
		
<div>
<style>
div.buttonLogout input,div.buttonLogout span{
margin-left: 500px;
}
</style>
      
</div>
</input>
</body>
</html>
