<!DOCTYPE html>
<html>
<body  bgcolor="#FFFACD"><br>
	<center><b><h2 color="green"><font color="#006400">MAINTENANCE</h2></b></center>
		<dl>
		<h3><b><dt>
		<center> Automates filing issues/complaints(Example-Fan not working in flat)</dt>
<dt>
	         <center>Submitted issues are directed to respective incharges for follow up<center></dt>
		<dt> <center>Returns Action report<center></dt></b></h3>
		</dl>
		<br>

<br>
<br>


		<form action="/choise" method=post>
		<input  class="button" type=submit value="Logout" style="position:absolute;left:1100px;top:38px;width:96px;height:25px;z-index:0;" onclick="window.location.href='./login';return false;">
		</form><br>
		<br>
		<br>
		
		<form action="/choise" method=post>
		<center> <input class="button" type=submit value="Raise a complaint" onclick="window.location.href='./complaint';return false;">
		</center>
		</form><br>
		<br>
		<br>

		<form action = "/complaint" method=post>
	         <center>
		<input class="button" type=submit value="Complaint Status"onclick="window.location.href='./ui';return false;">
	         </center>
		</form>
		<br>
	        <form action = "/complaint" method=post>

	        </form>

</div>
</body>
</html>
