<!doctype html>
<html>
<table>
        <tr>
        <td>{{row[0]}}</td>
        </tr>
        </table>
        <TR>

        <TD class="c2">{{item[0]}}</TD>
        <TD class="c3"></TD>
        <TD class="c4"><SPAN></SPAN></TD>
        <TD class="c5"><SPAN></SPAN></TD>
        </TR>
        <table>
        {% for item in project %}
      {% endfor %}

                </table>
